img[src*="#center"] {
  display: block;
  margin: 0 auto;
}

img[src*="#right"] {
  float: right;
  padding-left: 2rem;
}

img[src*="#pixelated"] {
  display: block;
  margin: 0 auto;
  width: 192px;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  float: right;
  padding-bottom: 2rem;
  padding-left: 2rem;
}

img[src*="#small"] {
  width: 25%;
}

canvas {
  margin: 0px;
  padding: 0px;
  width: 640px;
  height: 480px;
  overflow: hidden;
  position: absolute;
  background: black;
  z-index: 0;
}

main details > summary {
  cursor: pointer;
}

.admonition.challenge > div:nth-child(2)::before {
  content: '';
  background: url(images/ferris-teacher-small.png);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  width: 400px;
  height: 116px;
  max-width: 90vw;
  margin-top: 2rem;
}

footer {
  text-align: right;
}
footer img {
  margin: 2rem 0 0 0;
}

.center {
  text-align: center;
}

.onlyprint {
  display: none;
}

@media print {
  :is(.admonition),
  html {
    color: #000000 !important;
  }

  html,
  .page-wrapper,
  table thead,
  table tbody tr:nth-child(2n),
  :is(.admonition) {
    background-color: #ffffff !important;
  }

  .content .header:link,
  h1, h2, h3, h4, h5, h6 {
    color: rgb(22, 25, 35) !important;
  }

  .content a:link, a:visited, a {
    color: #282d3f;
  }

  .noprint {
    display: none;
  }

  .onlyprint {
    display: block;
  }

  .page-break {
    page-break-before: always;
  }

  .no-page-break, 
  .no-page-break pre,
  .no-page-break code {
    page-break-inside: avoid;
  }

  .allow-page-break pre, .allow-page-break code {
    page-break-inside: initial;
  }

  code {
    background: none !important;
  }

  img {
    page-break-inside: avoid;
  }

  img[alt="Spaceship spritesheet"] {
    max-width: 50%;
  }

  a[href*="://"]::after {
    content: " (" attr(href) ")";
  }

  .toc li {
    display: flex;
    flex-wrap: wrap;
  }

  .toc li a {
    flex: 1;
    display: flex;
  }

  .toc li a:after {
    content: '';
    border-bottom: 1px dotted;
    flex: 1;
    margin: 0 .5em;
  }

  .toc ul li ul li a:after {
    flex: revert;
  }

  .flexbreak {
    flex-basis: 100%;
    height: 0;
  }

  .toc li span.pagenumber {
    text-align: right;
  }

  .titlepage h1 {
    font-size: 4em;
  }

  .titlepage h2 {
    font-size: 3em;
  }

  .glossarypage table {
    font-size: 1.4rem;
  }

  @page {
    margin-top: 20mm;
    margin-bottom: 28mm;
  }

  @page :left {
    margin-left: 25mm;
    margin-right: 19mm;
  }

  @page :right {
    margin-left: 19mm;
    margin-right: 25mm;
  }
}
